# Pandas

In [2]:
import pandas as pd

In [6]:
revenus = pd.Series ([11,11,21])
revenus

0    11
1    11
2    21
dtype: int64

In [7]:
revenus.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
revenus.values

array([11, 11, 21], dtype=int64)

In [9]:
city_revenues = pd.Series(
    [4200, 8000, 6500],
    index=["Amsterdam", "Toronto", "Tokyo"]
)
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

In [10]:
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8})
city_employee_count

Amsterdam    5
Tokyo        8
dtype: int64

In [11]:
city_employee_count.keys()

Index(['Amsterdam', 'Tokyo'], dtype='object')

In [12]:
"Tokyo" in city_employee_count

True

In [13]:
"New York" in city_employee_count

False

# Data Frame

In [15]:
city_data = pd.DataFrame({
    "revenue": city_revenues,
    "employee_count": city_employee_count
})
city_data

           revenue  employee_count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto       8000             NaN

In [16]:
city_data.values

array([[4.2e+03, 5.0e+00],
       [6.5e+03, 8.0e+00],
       [8.0e+03,     nan]])

In [17]:
city_data.axes

[Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object'),
 Index(['revenue', 'employee_count'], dtype='object')]

In [18]:
city_data.axes[0]

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')