In [3]:
#Conditional Looping

x = 50

if x < 20:
    print (f"{x} lebih kecil")
elif x == 50:
    print (f"{x} sama")
else:
    print ("ga sama")

50 sama

In [24]:
# Nested Loop

nilai = 120

if 0 <= nilai <= 100:
    if nilai >= 80:
        print (f"{nilai} Grade A")
    elif nilai >= 70:
     print (f"{nilai} Grade B")
    elif nilai >= 60:
     print (f"{nilai} Grade C")
    elif nilai >= 50:
     print (f"{nilai} Grade D")
    elif nilai <=50:
     print (f"{nilai} Grade E")
else:
 print (f"{nilai} Nilai tidak valid")

120 Nilai tidak valid

In [31]:
# Nested Loop

cities = ['Madura', 'Majalengka', 'Balikpapan']
nama_kota = "bali"

if nama_kota in cities:
    print (f"{nama_kota} adalah nama kota")
else:
    print (f"{nama_kota} bukan nama kota")

bali bukan nama kota

In [32]:
# Latihan ganjil genap

angka = 10
if angka % 2 == 0:
    print("angka genap")
else:
    print("angka ganjil")

angka genap

In [37]:
# Looping (While loop)

i = 0
while i < 10:
    print (i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [40]:
# while looping perkalian 10

i = 1
while i <= 10:
    print (f"5 x {i} = {5*i}")
    i = i + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [77]:
# while looping perkalian

i = 1
j = 1

while i <= 10:
    while j <= 10:
        print (f"{i} x {j} = {i*j}")
        j = j + 1
    print ("-"*10)    
    i = i + 1
    j = 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

In [62]:
# For Loop

cities = list(cities)  #berubah jadi list dari sebelumnya tuple

for kota in cities:
    print (type (kota), kota)

<class 'str'> Madura
<class 'str'> Majalengka
<class 'str'> Balikpapan

In [64]:
# For perkalian

for i in range (1,11):
    print (f"5x{i} = {5*i}")

5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
5x10 = 50

In [67]:
# Nested loop For perkalian ke 2

for i in range (1,11):
    for j in range (1,11):
        print (f"{i} x {j} = {i*j}")
    print ("-"*10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
----------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
----------

In [68]:
# Contoh set of value length

i = 0
while i < len(cities):
    print (cities[i])
    i += 1    # i = i + 1

Madura
Majalengka
Balikpapan

In [70]:
# Contoh set of value index

for idx in range(len(cities)):
    print (cities[idx])

Madura
Majalengka
Balikpapan

In [71]:
# Flow Control Statment (Break & Continue)

for i in range (1,11):
    print (i)
    if i == 6:
     break

1
2
3
4
5
6

In [78]:
# Flow Control Statment (Break & Continue)

for i in range (1,11):
    if i in (4,5,6):
     continue
    print (i)

1
2
3
7
8
9
10

In [80]:
# Perpaduan Conditional dan Looping

nilai = [70, 34, 29,99, 57, 46, 87]
grade = []
for i in nilai:
  if 0<=i<=100:
    if i >= 80:
      print('A')
      grade.append('A')
    elif i >= 70:
      print('B')
      grade.append('B')
    elif i >=60:
      print('C')
      grade.append('C')
    elif i >= 45:
      print('D')
      grade.append('D')
    elif i >= 0:
      print('E')
      grade.append('E')
  else:
    print('nilai tidak valid')

grade

print("-"*10)
print(nilai)
print(grade)

B
E
E
A
D
D
A
----------
[70, 34, 29, 99, 57, 46, 87]
['B', 'E', 'E', 'A', 'D', 'D', 'A']